---
layout: default
---

<div class="jumbotron wrapper">
  <div class="col-md-8">
    <h1 class="display-4">{{ site.greeting }}</h1>
    <p class="lead">
      {{ site.description }}
    </p>
    <hr class="my-4">
    <p class="lead">
      <a style="color: blue" href="">Link to catalog/data project webpage</a>
    </p>
    <p class="lead">
      <a style="color: blue" href="">Link to other webpages</a>
    </p>
    <hr class="my-4">
    <p><a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/datasets" role="button">Browse All</a></p>
  </div>
  <div class="col-md-4 catalog-logo">
    <img class="inner-logo" src="{{site.baseurl}}{{site.logo}}">
  </div>
</div>


<div class="jumbotron wrapper">
  <div >
    <h1 class="display-4">Catalog Additional Info</h1>
    <p class="lead">
      This catalog was collected over the span of 10 days (from 01/10/24 to 10/10/24) in the context of the Studies On Human Behaviour course at the University of Trento.
      It consists of time diaries (one every 30 minutes + morning and evening questions) and data from my phone sensors, all collected through the iLog application.
      The data was then used to implement small statistical models, to understand factors impacting mood, mood variation and answer delay in time diaries.
  </div>
</div>



<h3>Browse by Category</h3>
<div class="homepage-categories">
{% for category in site.data.categories %}
  {% if category.featured == true %}
    {% capture logo_alt %}{{ category.name }}{% if category.logo_credit and category.logo_credit != empty %} logo by {{ category.logo_credit }}{% endif %}{% endcapture %}
    <a href="{{ site.baseurl }}/datasets/?category={{ category.name | slugify }}" class="thumbnail" title="{{ logo_alt }}">
      {% if category.logo and category.logo != empty %}
        <img src="{{ site.baseurl }}{{ category.logo }}" alt="{{ logo_alt }}">
      {% endif %}
      {{ category.name }}
    </a>
  {% endif %}
{% endfor %}
</div>

<h3>Browse by Resource Type</h3>
<div class="homepage-categories">
{% for type in site.data.resources %}
  {% if type.featured == true %}
    {% capture logo_alt %}{{ type.name }}{% if type.logo_credit and type.logo_credit != empty %} logo by {{ type.logo_credit }}{% endif %}{% endcapture %}
    <a href="{{ site.baseurl }}/datasets/?type={{ type.name | slugify }}" class="thumbnail" title="{{ logo_alt }}">
      {% if type.logo and type.logo != empty %}
        <img src="{{ site.baseurl }}{{ type.logo }}" alt="{{ logo_alt }}">
      {% endif %}
      {{ type.name }}
    </a>
  {% endif %}
{% endfor %}
</div>
